
/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/* Barra de Menú */
.nav{
  background-color: #d9e8ed;

}




/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
/*Sección Elementos */

.tres_elementos_titulo{
  background-color: #4495dc;
}

.img_banner{
  width: 150px;
}

.lista_titulo{
  background-color: lightblue;
}

.pagination{

}

/*------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------*/
